.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;

  padding-top: 60px;
}

.about-title {
  margin-top: 50px;
  font-size: 32pt;
}

body {
  background-color: #f5f3f3;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Video {
  height: 40vh;
  width: 50vw;
}
.icon {
}

.content p {
}

.content img,
.content iframe {
}

/* Add a specific style for the image in article 4 */
.content img.article-image {
}
