.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
h3 {
  padding: 20px;
}

.map-container {
  display: flex;
}

.link {
  padding: 20px;
}
.map {
  border-radius: 15px;
  width: 60vw;
  height: 50vh;
}